.wrapper {
  background-color: black;
  padding: 10px;

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .fileContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      resize: vertical;
      flex: 1;
    }
  }

  .buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .button {
      font-size: 20px;
      user-select: none;
      cursor: pointer;
    }
  }
}
