.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }

  label {
    padding-bottom: 4px;
  }

  hr {
    width: calc(100% - 2px);
  }

  .text {
    resize: vertical;
  }

  .advanced {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;

    .sep {
      padding: 0 10px;
    }

    label {
      cursor: pointer;
      user-select: none;
    }

    input {
      cursor: pointer;
    }

    a {
      color: white;
    }
  }

  .wordSplitter {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    & > * {
      flex: 1;
    }

    .wordSplitterSelector {
      flex: 1 1;
      max-width: 200px;
    }
  }

  .audio {
    width: calc(100% - 20px);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    @media (prefers-color-scheme: dark) {
      background-color: black;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    }
  }

  .lines {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;

    .empty {
      text-align: center;
    }

    &:focus {
      outline: none;
      border-color: skyblue;
    }

    .line {
      margin-bottom: 20px;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      flex-wrap: wrap;

      .syllable {
        padding: 4px 6px;
        border: 1px solid lightgray;
        cursor: pointer;
        user-select: none;
        transition: 0.25s;

        background-color: white;
        @media (prefers-color-scheme: dark) {
          background-color: black;
        }

        &.current {
          outline: 2px auto skyblue;
        }

        &.filled {
          color: white;
          background-color: black;
          @media (prefers-color-scheme: dark) {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }

  .buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      font-size: 16px;
      padding: 6px 10px;
      cursor: pointer;
    }
  }
}
