.wrapper {
  overflow-x: hidden;

  .placeholder {
    height: 50dvh;
  }

  .lines {
    padding: 0 10px;

    .line {
      margin: 30px 0;
      font-size: 20px;
      cursor: pointer;
      transition: 0.25s;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &:hover {
        .syllable {
          opacity: 0.8;

          &.karaoke {
            .truth {
              opacity: 0.8;
            }
          }
        }
      }

      &.current3 {
        scale: 1.05;
      }

      &.current2 {
        scale: 1.1;
      }

      &.current1 {
        scale: 1.3;
      }

      &.current {
        font-weight: bold;
        scale: 1.5;

        .syllable {
          opacity: 1 !important;
        }
      }

      &:not(.current) {
        .syllable {
          .mask {
            display: none;
          }
        }
      }

      .syllable {
        opacity: 0.4;
        position: relative;

        &:not(.karaoke) {
          .truth {
            color: #000;
            @media (prefers-color-scheme: dark) {
              color: #fff;
            }
          }

          .mask {
            display: none;
          }
        }

        &.karaoke {
          opacity: 0.8;

          @mixin TextAlignment {
            white-space: nowrap;
            text-overflow: clip;
            overflow: visible;
            line-height: normal;
            vertical-align: baseline;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.hasLeadingSpace {
              margin-left: 6px;
            }

            &.hasTrailingSpace {
              margin-right: 6px;
            }
          }

          .truth {
            @include TextAlignment;
            opacity: 0.6;
          }

          .mask {
            @include TextAlignment;
            overflow-x: hidden;
            overflow-y: visible;
            position: absolute;
            text-align: left;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            color: #000;
            @media (prefers-color-scheme: dark) {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
