.wrapper {
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }

  .navigator {
    padding: 10px 0;

    .route {
      padding: 4px 10px;
      color: black;
      @media (prefers-color-scheme: dark) {
        color: white;
      }

      &:not(:first-child) {
        border-left: 1px solid lightgray;
      }
    }
  }

  .slot {
    padding-top: 10px;
  }
}
