.wrapper {
  color: black;
  @media (prefers-color-scheme: dark) {
    color: white;
  }

  .navigator {
    padding: 10px 0;
    white-space: pre-wrap;

    .route {
      display: inline-block;
      padding: 4px 10px;
      color: black;
      white-space: nowrap;
      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }
  }

  .slot {
    padding-top: 10px;
  }
}
