.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 500px;
  margin: 0 auto;

  .button {
    height: 50px;
    font-size: 20px;
  }

  .message {
    text-align: center;
    padding: 10px;

    &:not(.okay) {
      color: orangered;
    }
  }
}
